*{
    margin: 0px;
    font-family: '楷体';
}
a,a:visited{
    color: black;
}
div{
    font-size: 25px;
    width: auto;
    height: auto;
    color: red;
}
.title{
    color: brown;
    font-size: 80px;
    text-align: center;
}
div h1{
    color:black;
    font-size: 40px;
    text-align:center;
}
.n1{
    background-color: aqua;
}
.n2{
    background-color: blue;
    color: chartreuse;
}
.n3{
    background-color:blueviolet;
    color: cornflowerblue;
}
.n4{
    background-color: burlywood;
    color: darkblue;
}
.n5{
    background-color: cadetblue;
    color: gold;
}
.n6{
    background-color: chartreuse;
}
.n7{
    background-color: darkgray;
}
.n8{
    background-color: darkgreen;
    color: lawngreen;
}
.n9{
    background-color: darkslategray;
    color: bisque   ;
}
.pre{
    background-color: black;
    color:white;
}
.nav_top{
    width: auto;
    height: 100px;   
}
.nav{   
    width: auto;
    height: auto;
    background-color: black;
    margin-bottom: 40px;
}
.nav ul,.nav_top ul{
    display: block;
    list-style-type: none;
}
.nav li a,.nav_top li a{
    display: block;
}
.nav li,.nav_top li{    
    margin-right:  40px;
    float: left;
}
a{
    text-decoration: none;
}
.absc{
    position: fixed;
    right: 0px;
    top: 50%;
    width: 50px;
    height: 70px;
    background-color: white;
}
.back_main{
    position: fixed;
    right: 0px;
    top: 25%;
    width: 50px;
    height: 70px;
    background-color:black;
}
.back_main a{
    display: block;
    color: white;
}
.absc a{
    display: block;
    color: black;
}
